# secrets — never commit
.env
.streamlit/secrets.toml

# generated at runtime
chroma_db/
logs/
evaluation/eval_report_*.json

# python
__pycache__/
*.pyc
.venv/
*.egg-info/
.DS_Store

# ignore all PowerPoint files
*.pptx

# but KEEP the final submission presentation
!BNR-DS-Challenge-Geredi-Niyibigira.pptx

# office temp files
~$*.pptx